<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сотрудники</title>
</head>
<body>      

    <% 
        var query = "for $elem in collaborators return $elem/fullname";
        var collaborators = ArraySelectAll(tools.xquery(query));
        for (var i = 0; i < collaborators.length; i++) {
            %>
            <div>
                <%= collaborators[i].fullname %>
            </div>
            <%
        }   
    %>

</body>
</html>